<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="author" content="{{site.author}}">
    <title>
        {{page.title}}
    </title>
    <link rel="stylesheet" href="{% if page.layout == 'post'%}
    {{" /css/post.css" | prepend: site.baseurl}}
    {% else if page.title =='blog' %}
    {{"/css/styles.css" | prepend:site.baseurl}}{% endif %}">
</head>
<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
