<!-- Header -->
  <header id="header">
    <div class="logo">
      <span class="icon fa-coffee"></span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>Shehtab Zaman</h1>
        <p>I'm Currently Pursuing PhD in Computer Science. My research mainly focuses on  machine learrning (especially deep learning) and it's application on traditional sciences such as physics, chemistry, and biology. 
        </p>

        
        <p>
          I also work with scaling up scientific deep learning to utilize high performance computing resources such as supercomputers. I'm a contributor to <a href="https://lbann.readthedocs.io/en/latest/">LBANN (Livermore Big Artificial Neural Network) toolkit</a>. I'm a collaborator at the Lawrence Livermore National Laboratory and have been a computing scholar at LLNL.   
        </p>

        <p>B.Sc. in Mathematical (Theoretical) Physics (2019)</p>
        <p>M.Sc. in Computer Science (2020)</p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#work">Projects</a></li>
        <li><a href="#notes">Notes</a></li>
        <li><a href="#cv">CV</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
