<!-- Header -->
  <header id="header">
    <div class="logo">
      <span class="icon fa-coffee"></span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>Shehtab Zaman</h1>
        <p>Physics and CS Major</p>
        <p>Physicist. Web Developer. United Fan!</p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#work">Projects</a></li>
        <li><a href="#notes">Notes</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
