<nav>
  <div class="nav-bar">
    <ul class="nav">
      <li class="
      {% if page.title == 'Home' %}
        {{"tabs active"}}
      {% else %}
        {{"tabs"}}
      {% endif %}">
        <a href="{{ "/"| prepend:site.baseurl}}" class="{% if page.title == 'Home' %}{{"no-hover"}}{% endif %}">
          Home
        </a>
      </li>
      <li class="
      {% if page.title == 'Project' %}
        {{"tabs active"}}
      {% else %}
        {{"tabs"}}
      {% endif %}">
        <a href="/projects/" class="{% if page.title == 'Project' %}{{"active no-hover"}}{% endif %}">
          Projects
        </a>
      </li>
      <li class="
      {% if page.title == 'About' %}
        {{"tabs active"}}
      {% else %}
        {{"tabs"}}
      {% endif %}">
        <a href="/about/" class="{% if page.title == 'About' %}{{"active no-hover"}}{% endif %}">
          About
        </a>
      </li>
    </ul>
  </div>
</nav>
