@include media-query($on-mobile){
  #page{
    width: 100%;
    height: 100%;
  }

  @include nav();


}

@include media-query($on-small-device){
  body{
    background-color: #d3d3d3;
  }
  #page{
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    // background-color: Gray;
    .blog{
      width: 100%;
      #sectionTitle{
        color: #333;
        margin-top: 5px;
        padding-left: 8em;
        h1{
          margin: auto;
        }
      }
      .main{

        .blog-content{
          ul{
            list-style: none;
            li{
              text-decoration: none;
              width: 95%;
              background-color: white;
              padding-bottom: 1.5em;
              padding-top: 1em;
              margin-top: 1em;
              margin-bottom: 1.5em;
              margin-right: auto;
              margin-left: auto;
              box-shadow: 1px 2px 5px #888888;
              .blog-post{
                padding-left: 1em;
                h2{
                  a{
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// #page{
//   width: 90%;
//   height: 100%;
//   margin: 0px auto 36px;
// }
