@include media-query($on-mobile){
  #page{
    width: 100%;
    height: 100%;
  }

  @include nav();


}

@include media-query($on-small-device){
  #page{
    width: 100%;
    height: 100%;
    margin: 0px 0px;

    .blog{
      width: 100%;

      #sectionTitle{

        color: #333;
        margin-top: 5px;
        padding-left: 8em;
        h1{
          margin: auto;
        }
      }
      .main{
        .blog-content{
          ul{
            list-style: none;
            li{
              text-decoration: none;
              .blog-post{
                padding-left: 1em;
                h2{
                  
                  a{
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// #page{
//   width: 90%;
//   height: 100%;
//   margin: 0px auto 36px;
// }
