<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>



    <!-- <div class="page-content"> -->
      <div id="wrapper">
        {% include header.html %}
        {{ content }}
      <!-- </div> -->
      {% include footer.html %}
    </div>
    <div id="bg"></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">
    </script>  </body>

</html>
