---
layout: default
---
<div id="page">
    <div class="blog section">
        <div class="main">
            <!-- <div class="blog-date">
                <span class="date-month">
                  {{page.date | date:"%B"}}
                </span>
                <span class="date-year">
                  {{page.date | date:"%Y"}}
                </span>
            </div> -->
            <!-- end blog date -->
            <div class="blog-content">
              <ul class="post-list">
                <li>
                  <div class="blog-post">
                    <h2>
                      <a class="post-link"href="#">{{page.title}}</a>
                    </h2>
                    <blockquote class="post-time" cite="http://">
                        <span class="post-meta ">{{ page.date | date: "%b , %Y" }}</span>
                    </blockquote>

                    {{ content }}
                  </div>
                </li>
              </ul>
            </div>
        </div>
        <!-- /end .main -->
    </div>
    <!-- /end .blog .section -->
</div>
<!-- /end #page -->
