---
layout: default
---
<div id="page">
    <div class="blog section">
        <div id="sectionTitle">
            <h1 class="blog-title">
                {{page.title}}
            </h1>
            <hr class="hr-gradient">
        </div>
        <!-- end section title -->
        <div class="main">
            <div class="blog-date">
                <span class="date-month">
                  {{page.date | date:"%B"}}
                </span>
                <span class="date-year">
                  {{page.date | date:"%Y"}}
                </span>
            </div>
            <!-- end blog date -->
            <div class="blog-content">
                {{ content }}
            </div>
        </div>
        <!-- /end .main -->
    </div>
    <!-- /end .blog .section -->
</div>
<!-- /end #page -->
